<div class="p-4 bg-white  shadow md:px-13 md:py-2 dark:bg-black">
  <div class="sm:flex sm:items-center sm:justify-between">
      <ul class="flex flex-wrap items-center mb-8 text-sm text-gray-500 sm:mb-0 dark:text-white lg:text-black">
          <li>
            <a href="tel:902125123434" class="mr-4 hover:underline md:mr-12 " >90 (212) 512 34 34</a>
          </li>
          <li>
            <i class="material-icons dark:text-yellow-500 lg:text-yellow-500" style="font-size:15px ;">  location_on   </i>
              <a href="https://goo.gl/maps/EEtNi1yeZyRpVtgY8" target="_blank" class="mr-4 hover:underline md:mr-5 " style="position: absolute; top:1.6em;">Adres: Bozkurt, Europe, Kurtuluş Cd. No:35, 34375 Şişli/İstanbul</a>
          </li>
      </ul> <br>
      <ul class="flex flex-wrap items-center mb-12 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"  style="margin-right: 10em;" >
        <li class="socila-icon">
            <a href="#" class="mr-4 hover:underline md:mr-12 "> <img src="../../../../assets/icon/instagram-icon.png" class="w-5 h-5" alt="instagram-icon"> </a>
        </li>
        <li  class="socila-icon">
            <a href="#" class="mr-4 hover:underline md:mr-12"> <img src="../../../../assets/icon/facebook-icon.png" class="w-5 h-5" alt="facebook-icon"></a>
        </li>
        <li  class="socila-icon">
            <a href="#" class="mr-4 hover:underline md:mr-12 "><img src="../../../../assets/icon/twitter-icon.png" class="w-5 h-5"  alt="twitter-icon"></a>
        </li>
        <li  class="socila-icon">
            <a href="#" class="mr-4  hover:underline  md:mr-12"><img src="../../../../assets/icon/linedIn-icon.png" class="w-5 h-5"  alt="linedIn-icon"></a>
        </li>
    </ul>
  </div>

</div>
