<br><br>
  <iframe
  src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_34628&symbol=XAUTRYG&interval=1&symboledit=0&saveimage=0&toolbarbg=f1f3f6&studies=%5B%5D&theme=dark&style=2&timezone=Europe%2FIstanbul&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=tr"
  frameborder="0"
  style="width:39%; height:19.8rem; float: left; position: relative; left: 10%;"
  ></iframe>

<iframe
src="https://s.tradingview.com/widgetembed/?frameElementId=tradingview_34628&symbol=USDTRY&interval=1&symboledit=0&saveimage=0&toolbarbg=f1f3f6&studies=%5B%5D&theme=dark&style=2&timezone=Europe%2FIstanbul&studies_overrides=%7B%7D&overrides=%7B%7D&enabled_features=%5B%5D&disabled_features=%5B%5D&locale=tr"
frameborder="0"
style="width: 40%; height: 19.8rem; position: relative; left: 11%;   "
></iframe>
