
<div class="tabs">
  <input
    class="tabs__item-input"
    type="radio"
    name="tabs"
    id="tabtwo"
    checked="checked"
  />
  <label class="tabs__item-label" for="tabtwo">  Yorum Ekle</label>
  <div class="tabs__item-content">
    <app-visitoradd></app-visitoradd>
  </div>

  <input class="tabs__item-input" type="radio" name="tabs" id="tabthree" />
  <label class="tabs__item-label" for="tabthree">Yorumlar</label>
  <div class="tabs__item-content">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-5 py-3">#</th>
            <th scope="col" class="px-5 py-3">Ad - Soyad</th>
            <th scope="col" class="px-5 py-3">Email</th>
            <th scope="col" class="px-5 py-3">İçerik</th>
            <th scope="col" class="px-5 py-3">Yayyınlanma</th>
            <th scope="col" class="px-5 py-3">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            *ngFor="let heroe of heroes; let i = index"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ heroe.visitorname }}</td>
            <td>{{ heroe.vemail }}</td>
            <td>{{ heroe.vistorpoder }}</td>


<td>














    <div class="flex items-start mb-6">
      <div class="flex items-center h-5">
        <label class="toggle-control"   type="submit">
          <input type="checkbox"  required disabled
          [(ngModel)]="heroe.vistorpublish"
          name="vistorpublish"
          #vistorpublish="ngModel"   required>
          <span class="control"></span>
        </label>
      </div>
    </div>
</td>




            <td class=" ">
              <button
              type="button"
              class="btn btn-info mr-1"
              [routerLink]="['/edit', heroe.vistorid]"  >
              🔏
          </button>
              <button
                type="button"
              class="btn btn-danger"
                (click)="borrarHeroe(heroe, i)"
              >
                🗑
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
