<div class="container dark:text-white lg:text-black">
  <div  >
    <div>
      <input
        [(ngModel)]="miktar"
        type="number"
        class="dark:text-white lg:text-black"
      />
    </div>
  </div>
  <div>
    <select
      [(ngModel)]="myDropDown"
      (ngModelChange)="onChangeofOptions($event)"
    >
      <option
        *ngFor="let data of footerList"
        value="{{ data.Ask }}"
        style="background-color: rgba(255, 255, 255, 0); color: black;"
      >
        {{ data.Code }}
      </option>
    </select>
  </div>
  <div>
    <input
      type="number"
      placeholder=" "
      value="{{ sonuc }}"
      disabled="true"
    />
  </div>
</div>
