
  <div class="wrapper">
    <div class="toolbar box-shadow">

      <div class="content">
        <div class="card-container">
          <div class="card box-shadow" onclick="toggleControl(this)">
            <i class="fas fa-2x fa-book"></i>
            <div class="flex-container switch-text">
              <span class="font-20">Ziyaretçi Defteri</span>
              <div class="font-12" >ON</div>
            </div>
          </div>
          <div class="card box-shadow" onclick="toggleControl(this)">
            <i class="far fa-2x fa-window-maximize"></i>
            <div class="flex-container switch-text ">
              <span class="font-20">Görüş Ve Öneriler</span>
              <span class="font-12">ON</span>
            </div>
          </div>
          <div class="card box-shadow" onclick="toggleControl(this)">
            <i class="fas fa-2x fa-users"></i>
            <div class="flex-container switch-text ">
              <span class="font-20">İnsan Kaynakları</span>
              <span class="font-12">ON</span>
            </div>
          </div>
          <div class="card box-shadow" onclick="toggleControl(this)">
            <i class="fas fa-2x fa-tachometer"></i>
            <div class="flex-container switch-text">
              <span class="font-20">Panel</span>
              <span class="font-12">ON</span>
            </div>
          </div>
        </div>
    </div>
  </div>
