<div class="navbar dark:text-gray-300 lg:text-white"*ngIf="lightTheme == false" style="background-color: #1D1E22; color: white;" >
  <input type="checkbox" id="checkItem">
  <div class="nav-btn">
    <label for="checkItem">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div class="nav-brand ">
    <!-- <img   *ngIf="lightTheme == true" src="../../../../assets/logo/logoblack.png" alt="" height="10"> -->

    <img     src="../../../../assets/logo/logowhite.png" alt=" logo" style="height:130px ;">

  </div>

  <ul class="nav-menu">
    <li routerLink="/home"> Anasayfa </li>
    <li routerLink='/about' routerLinkActive="active">Hakkımızda</li>
    <!-- <li class="dropdown">Events
      <ul class="dropdown-menu">
        <li>Upcoming Events</li>
        <li>Past Events</li>
      </ul>
    </li> -->

    <li routerLink="/comment">Ziyaretçilerimiz</li>
    <li routerLink="/hr-form"> İnsan Kaynakları </li>
    <li>
      <button class="btn" routerLink="/contact">İletişim</button>
    </li>
    <li   (click)="toggleTheme()"class="theme-mood">
      <ng-container  *ngTemplateOutlet="lightTheme ? moon : sun" ></ng-container>
    </li>
  </ul>
</div>

















<div class="navbar dark:text-gray-300 lg:text-white "    *ngIf="lightTheme == true" style="background-color: #898d9a; color: black;">
  <div class="nav-brand">
    <!-- <img   *ngIf="lightTheme == true" src="../../../../assets/logo/logoblack.png" alt="" height="10"> -->
    <img    src="../../../../assets/logo/logoblack.png" alt=" logo"  style="height:130px ;">
  </div>
  <input type="checkbox" id="checkItem">
  <div class="nav-btn">
    <label for="checkItem">
      <span></span>
      <span></span>

    </label>
  </div>
  <ul class="nav-menu">
    <li routerLink="/home"> Anasayfa </li>
    <li routerLink='/about' routerLinkActive="active">Hakkımızda</li>
    <!-- <li class="dropdown">Events
      <ul class="dropdown-menu">
        <li>Upcoming Events</li>
        <li>Past Events</li>
      </ul>
    </li> -->

    <li routerLink="/comment">Ziyaretçilerimiz</li>
    <li routerLink="/hr-form"> İnsan Kaynakları </li>
    <li>
      <button class="btn" routerLink="/contact">İletişim</button>
    </li>
    <li   (click)="toggleTheme()"class="theme-mood">
      <ng-container  *ngTemplateOutlet="lightTheme ? moon : sun" ></ng-container>
    </li>
  </ul>
</div>











<ng-template #moon>
  <svg
    stroke="currentColor"
    fill="currentColor"
    stroke-width="0"
    viewBox="0 0 20 20"
    class="h-10 w-10 text-2xl cursor-pointer text-gray-900"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
    ></path>
  </svg>
</ng-template>

<ng-template #sun>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-10 w-10 dark:text-gray-300 text-2xl cursor-pointer text-gray-300"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
    />
  </svg>
</ng-template>
